name: CI

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current branch
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v4.0.0
        with:
          node-version: 24

      - name: Install dependencies
        run: npm ci

      - name: Audit dependencies
        run: npm audit --audit-level=high
      
      - name: Install dev app dependencies
        working-directory: ./dev/preact
        run: npm ci

      - name: Audit dev app dependencies
        working-directory: ./dev/preact
        run: npm audit --audit-level=high

      - name: Run build
        run: npm run build

      - name: Run tests
        run: npm run test:core

  build-preact-dev:
    name: Build and Test Preact Dev
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current branch
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v4.0.0
        with:
          node-version: 24

      - name: Install dependencies
        run: npm ci

      - name: Audit dependencies
        run: npm audit --audit-level=high
      
      - name: Install dev app dependencies
        working-directory: ./dev/preact
        run: npm ci

      - name: Audit dev app dependencies
        working-directory: ./dev/preact
        run: npm audit --audit-level=high

      - name: Run parent build
        run: npm run build

      - name: Run dev app build
        working-directory: ./dev/preact
        run: npm run build

      - name: Run tests
        working-directory: ./dev/preact
        run: npm run test

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current branch
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v4.0.0
        with:
          node-version: 24

      - name: Install dependencies
        run: npm ci

      - name: Audit dependencies
        run: npm audit --audit-level=high

      - name: Run lint
        run: npm run lint
